---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
---

<Layout>
	<Navigation />
	<h1>Mi sitio Astro</h1>
</Layout>
