---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p>Publicado el: {frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p>Escrito por {frontmatter.author}</p>
  <slot />
</Layout>
